body{
    margin: 0;
    padding: 0;
    
}
@media only screen and (max-width: 1024px) {
    .img{
        min-height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        margin: auto;
        width: 40%;
    }
    .emoji{
        min-height:100vh;
        font-size: 80px;
        justify-content:center;
        align-items:center;
        margin: auto;
    }
}
@media only screen and (max-width: 414px) {
    .img{
        width: 50%;
    }
}